<%= form_with(model: media_file) do |form| %>
  <% if media_file.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(media_file.errors.count, "error") %> prohibited this media_file from being saved:</h2>

      <ul>
        <% media_file.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    Target song: <%= link_to "#{song.title}", song %>
    <%= form.hidden_field :song_id %>
  </p>

  <p>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :uploader, style: "display: block" %>
    <%= form.file_field :uploader %>
    <%= form.hidden_field :file_cache %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
