<div>
  <%= link_to "Go back", @lyrics_version %>
</div>

<% if @lyrics_version.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(@lyrics_version.errors.count, "error") %> prohibited this lyrics_version from being saved:</h2>

    <ul>
      <% @lyrics_version.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div data-controller="diff">
  <div data-diff-target="diffOutput"><%= @diff.to_s(:text) %></div>
  <textarea
    data-diff-target="textInput"
    data-diff-url="<%= lyrics_version_diff_path(@lyrics_version.id) %>"
    data-diff-id="<%= @lyrics_version.id %>"
    data-action="input->diff#change"
  ><%= @lyrics_version.lyrics %></textarea>
  <br>
  <button data-diff-target="confirm"
          data-diff-resolve-url="<%= lyrics_version_resolve_path(@lyrics_version.id) %>"
          data-diff-resolve-id="<%= @conflict_lyrics.id %>"
          data-diff-song-id="<%= @lyrics_version.song.id %>"
          data-action="click->diff#confirm"
  >Save</button>
</div>