<% content_for :second_navbar do %>
  <ul>
      <% if @lyrics_version.previous_version.present? %>
        <li>
          <%= link_to "< Previous version", @lyrics_version.previous_version %>
        </li>
      <% end %>

      <% if @lyrics_version.is_proposal %>
        <li>
          <%= link_to "Edit this lyrics version", edit_lyrics_version_path(@lyrics_version) %>
        </li>
      <% end %>

      <% if @lyrics_version.next_version.present? %>
        <li>
          <%= link_to "Next version >", @lyrics_version.next_version %>
        </li>
      <% end %>
  </ul>
<% end %>

<% content_for :page_title do %>
  Lyrics: <%= link_to "#{@lyrics_version.song.title}", @lyrics_version.song %>
<% end %>

<div id="<%= dom_id @lyrics_version %>">
  <%= render @lyrics_version %>

  <section>
    Change:
    <%= @lyrics_version.description %>
    <% if @lyrics_version.is_proposal %>
      (proposition)
    <% end %>
  </section>


  <% if @lyrics_version.proposals.any? %>
    <section>
      Change requests:
      <% @lyrics_version.proposals.each do |proposal| %>
      <div>
        <%= link_to "#{proposal.description}", proposal %>
      </div>
    <% end %>
    </section>
  <% end %>

  <% if @lyrics_version.errors.any? %>
    <section style="color: red">
      <h2><%= pluralize(@lyrics_version.errors.count, "error") %> prohibited this @lyrics_version from being saved:</h2>

      <ul>
        <% @lyrics_version.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <div>
    <% content_for :nav_links do %>
      <li>
        <%= link_to "diff", diff_show_with_id_path(next_version_id: @lyrics_version.id)  %>
      </li>
    <% end %>
  </div>

  <% if @lyrics_version.is_proposal %>
    <nav>
      <ul>
        <li>
          <%= button_to "Accept this request", [@lyrics_version, :accept], params: { id: @lyrics_version.id } %>
        </li>
        <li>
          <%= button_to "Destroy this lyrics version", @lyrics_version, method: :delete %>
        </li>
      </ul>
    </nav>
  <% end %>
</div>
