<div id="<%= dom_id song %>">
  <% if song.current_lyrics.present? %>
    <p>
      <%= simple_format(song.current_lyrics.lyrics) %>
    </p>
  <% end %>

  <% if song.comments.any? %>
    <section>
      <h2>Comments:</h2>
      <% song.comments.each do |comment| %>
        <%= render comment %>
      <% end %>
    </section>
  <% end %>


  <% if song.lyrics_history_not_first.any? %>
    <section>
      <h2>Change history:</h2>
      <%= render "songs/lyrics_version_listing", lyrics_versions: song.lyrics_history_not_first %>
    </section>
  <% end %>


  <% if song.lyrics_proposals.any? %>
    <section>
      <h2>Change requests:</h2>
      <%= render "songs/lyrics_version_listing", lyrics_versions: song.lyrics_proposals %>
    </section>
  <% end %>


  <% if song.media_files.any? %>
    <section>
      <h2>Files:</h2>
      <% song.media_files.each do |media_file| %>
        <div>
          <%= link_to "#{media_file.name}", media_file %>
        </div>
      <% end %>
    </section>
  <% end %>

</div>