<p>
  <%= link_to "Back to songs", songs_path %> |
  <%= link_to "Add new lyrics", new_song_lyrics_version_path(@song) %> |
  <%= link_to "Add comment", new_song_comment_path(@song) %> |
  <%= link_to "Add media files", new_song_media_file_path(@song) %> |
  <%= link_to "Edit this song", edit_song_path(@song) %>
</p>

<p style="color: green"><%= notice %></p>

<%= render @song %>

<% if @song.lyrics_versions.empty? and @song.media_files.empty? and @song.comments.empty? %>
  <hr>

  <p>
    <%= button_to "Destroy this song", @song, method: :delete %>
  </p>
<% end %>