<%= form_with(model: lyrics_annotation) do |form| %>
  <% if lyrics_annotation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lyrics_annotation.errors.count, "error") %> prohibited this lyrics_annotation from being saved:</h2>

      <ul>
        <% lyrics_annotation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :lyrics_version_id, style: "display: block" %>
    <%= form.text_field :lyrics_version_id %>
  </div>

  <div>
    <%= form.label :media_file_id, style: "display: block" %>
    <%= form.text_field :media_file_id %>
  </div>

  <div>
    <%= form.label :comment_id, style: "display: block" %>
    <%= form.text_field :comment_id %>
  </div>

  <div>
    <%= form.label :line_start, style: "display: block" %>
    <%= form.number_field :line_start %>
  </div>

  <div>
    <%= form.label :line_length, style: "display: block" %>
    <%= form.number_field :line_length %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
