<div id="<%= dom_id lyrics_annotation %>">
  <p>
    <strong>Lyrics version:</strong>
    <%= lyrics_annotation.lyrics_version_id %>
  </p>

  <p>
    <strong>Media file:</strong>
    <%= lyrics_annotation.media_file_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= lyrics_annotation.comment_id %>
  </p>

  <p>
    <strong>Line start:</strong>
    <%= lyrics_annotation.line_start %>
  </p>

  <p>
    <strong>Line length:</strong>
    <%= lyrics_annotation.line_length %>
  </p>

</div>
